/* _content/FPRWeb/Areas/Externo/Views/Shared/_LayoutExterno.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-86gi8f9gs9] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-86gi8f9gs9] {
  color: #0077cc;
}

.btn-primary[b-86gi8f9gs9] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-86gi8f9gs9], .nav-pills .show > .nav-link[b-86gi8f9gs9] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-86gi8f9gs9] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-86gi8f9gs9] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-86gi8f9gs9] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-86gi8f9gs9] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-86gi8f9gs9] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/FPRWeb/Areas/Interno/Views/Shared/_LayoutInterno.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-pwc7qkxdhk] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-pwc7qkxdhk] {
  color: #0077cc;
}

.btn-primary[b-pwc7qkxdhk] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-pwc7qkxdhk], .nav-pills .show > .nav-link[b-pwc7qkxdhk] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-pwc7qkxdhk] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-pwc7qkxdhk] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-pwc7qkxdhk] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-pwc7qkxdhk] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-pwc7qkxdhk] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/FPRWeb/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-e8la1q9z5o] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-e8la1q9z5o] {
  color: #0077cc;
}

.btn-primary[b-e8la1q9z5o] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-e8la1q9z5o], .nav-pills .show > .nav-link[b-e8la1q9z5o] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-e8la1q9z5o] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-e8la1q9z5o] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-e8la1q9z5o] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-e8la1q9z5o] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-e8la1q9z5o] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
